<h1>{{title}}</h1>

{{! using module syntax }}
{{>$partial this}}

{{! using relative syntax }}
{{>partial this}}

{{! using the module lookup syntax ('$') }}
{{$title title}}

{{! using the relative lookup syntax}}
{{description description}}

{{image "images/path/to/image"}}
